{% extends 'base.html.twig' %}

{% block title %}Loc'Appart - Mot de passe oublié{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ asset('build/parametre.css') }}">
{% endblock %}

{% block content %}
<section>
   {% include('Shared/elements/background.html.twig') %}
   <div class="content_login">
      <div class="line">
         <div class="margin-bottom">
            <div class="margin">
               <article class="s-12 l-8 center">
                  <h2>Mot de pase oublié</h2>
                  <p class="subtitile_presentation">Procédure de changement de mot de passe</p>
                  {% for message in app.flashes('notice') %}
                      <div class="alert alert-info" role="alert">
                        {{ message }}
                      </div>
                  {% endfor %}

                  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                      {{ form_errors(form) }}

                      <div class="form-group form-custom">
                        {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        <div class="col-sm-8">
                          {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                          {% if form_errors(form.email) %}
                            <div class="row">
                              <div class="error_form">
                                <span>{{ form_errors(form.email) }}</span>
                              </div>
                            </div>
                          {% endif %}
                        </div>
                      </div>

                      {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                      {{ form_rest(form) }}
                  {{ form_end(form) }}
                </article>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
