{% extends 'shared/layout/base_with_image.html.twig' %}

{% block title %}Loc'Appart - Mot de passe oublié{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('build/parametre.css') }}">
{% endblock %}

{% block content %}
    <article class="s-12 l-8 center">
        <h2>Changement mot de passe</h2>
        <p class="subtitile_presentation">Procédure de changement de mot de passe</p>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group form-custom">
            {{ form_label(form.password.first, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                <span id="eye" tabindex="100" class="add-on input-group-addon span_paswd" ><i class="fa fa-eye"></i></span>
                {% if form_errors(form.password.first) %}
                    <div class="row">
                        <div class="error_form">
                            <span>{{ form_errors(form.password.first) }}</span>
                        </div>
                    </div>
                {% endif %}
                <ul class="verification_mdp_inscription">
                    <li>Pour votre sécurité, utilisez un mot de passe contenant :</li>
                    <li>• Minimun 6 caractères</li>
                    <li>•  Et des caractères spéciaux parmi =/+|.-_~^@!#$%?*€,;:)</li>
                </ul>
            </div>
        </div>

        <div class="form-group form-custom">
            {{ form_label(form.password.second, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                <span id="eyeBox2" tabindex="100" class="add-on input-group-addon span_paswd" ><i class="fa fa-eye"></i></span>
                {% if form_errors(form.password.second) %}
                    <div class="row">
                        <div class="error_form">
                            <span>{{ form_errors(form.password.second) }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </article>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/parametre.js') }}"></script>
{% endblock %}
