{% extends 'shared/layout/base_without_image.html.twig' %}

{% block title %}Loc'Appart - Recherchez, contactez et louez un appartement à la montagne !{% endblock %}
{% block description %}Recherchez facilement une location pour vos vacances au ski. Découvrez toutes nos annonces de location d’appartements, de chalets et d’hôtels à travers la France.{% endblock %}

{% block content %}
    <section>
        <div id="carousel">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="{{ asset('/ressources/images/static/background-home.jpg') }}" alt="Page d'accueil">
                    <div class="carousel-text">
                        <div class="line">
                            <div class="s-12 l-9">
                                <h1>Location d'appartement à la montagne</h1>
                            </div>
                            <div class="s-12 l-9">
                                <p>Recherchez, Contactez, Louez</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content_homePage">
            <div class="line">
                <div class="margin-bottom">
                    <div class="margin">
                        <article class="s-12 l-8 center">
                            <h2>Location-appartement.fr</h2>
                            <p class="subtitile_presentation">Louez facilement votre logement sur le site.</p>
                            <p class="margin-bottom-home">Loc'Appart permet de mettre facilement en relation les personnes souhaitant louer un appartement, un châlet ou un hôtel avec le propriétaire. Recherchez l'annonce qui vous interresse et contactez le propriétaire directement via le site. Loc'Appart propose une multitude d'annonces d'appartements en France, dans toutes les stations de ski: les Pyrénées, les Alpes, le Masif-Central, le Jura et les Vosges. Profitez de votre séjour au ski !</p>
                            <p class="margin-bottom-home">Toutes les annonces sur le site sont validés par un administrateur au cas par cas. Vous pouvez gérer vos annonces facilement depuis votre compte et consultez les messages que les utilisateurs vous envoie. Commencez la recherche en cliquant sur le bouton.</p>
                            <a href="{{ path('app_announcement_listing', {'type' : 'appartement'}) }}" title="Les annonces d'appartements"><button class="btn btn-primary btn_result home-button">Voir les annonces</button></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div id="first-block">
            <div class="line">
                <div class="margin">
                    <div class="s-12 m-6 l-3 margin-bottom">
                        <i class="fa fa-paper-plane-o fa-2x fa-flip-horizontal"></i>
                        <h3>A propos</h3>
                        <p>Ce site est spécialisé dans la location d'appartement à la montagne.</p>
                    </div>
                    <div class="s-12 m-6 l-3 margin-bottom">
                        <i class="fa fa-search fa-2x"></i>
                        <h3>Recherchez</h3>
                        <p>Recherchez un appartement qui vous convient grâce un un formulaire de recherche.</p>
                    </div>
                    <div class="s-12 m-6 l-3 margin-bottom">
                        <i class="fa fa-envelope-o fa-2x"></i>
                        <h3>Contactez</h3>
                        <p>Contactez le propriétaire de l'annonce via la plateforme pour réserver votre logement.</p>
                    </div>
                    <div class="s-12 m-6 l-3 margin-bottom">
                        <i class="fa fa-home fa-2x"></i>
                        <h3>Louez</h3>
                        <p>Finalisez la location et profitez de votre séjour à la montagne !</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="third-block">
            <div class="line custom_div">
                <h2>Dernier appartement ajoutés</h2>
                <p class="subtitile">Les 4 derniers appartements ajouté sur le site</p>
                <div class="margin">
                    {% for appartment in appartments %}
                        <div class="s-10 m-6 l-3 last-appart">
                            <div class="img-footer">
                                {% if appartment.ressources|first is empty %}
                                <a href="{{ path('app_announcement_show', {'slug' : appartment.title | replace({' ': "_"}) | lower, 'id' : appartment.id}) }}" title="{{ appartment.title }}">
                                    <img src="{{ asset('/ressources/images/static/not-found.png') }}" alt="{{ appartment.title }}"/>
                                </a>
                                {% else %}
                                    <a href="{{ path('app_announcement_show', {'slug' : appartment.title | replace({' ': "_"}) | lower, 'id' : appartment.id}) }}" title="{{ appartment.title }}">
                                        <span class="helper"></span><img src="{{ '/ressources/images/uploads/' ~ appartment.ressources|first }}" alt="{{ appartment.title }}">
                                    </a>
                                {% endif %}
                            </div>

                            <p class="search_title">{{ appartment.city.name }} - {{ appartment.city.zip }}</p>
                            <p class="search_content">{{ appartment.type.name }} - {{ appartment.area }}m² - A partir de {{ appartment.prices|price(appartment.prices) }}€</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/accueil.js') }}"></script>
{% endblock %}
