{% extends 'base.html.twig' %}

{% block title %}Loc'Appart - Ajouter une annonce{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('build/ajout.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.css">
{% endblock %}

{% block content %}
    <section>
        {% include('Shared/elements/background.html.twig') %}
        <div class="content_login">
            <div class="line">
                <div class="margin-bottom">
                    <div class="margin">
                        <article class="s-12 l-12 center">
                            <h2>Ajout d'une annonce</h2>
                            <p class="subtitile_presentation">Ajouter une annonce sur le site</p>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="lines">
                                <div class="gestion-box">
                                    <aside class="lg-side">
                                        <div class="gestion-head">
                                            <h3>Information sur le bien</h3>
                                        </div>

                                        <div class="gestion-body">
                                            <div class="form-group form-custom">
                                                {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                <div class="col-sm-8">
                                                    {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}}) }}
                                                    {% if form_errors(form.title) %}
                                                        <div class="row">
                                                            <div class="error_form">
                                                                <span>{{ form_errors(form.title) }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group form-custom">
                                                {{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                <div class="col-sm-8">
                                                    {{ form_widget(form.type, {'attr': {'class': 'selectpicker'}}) }}
                                                    {% if form_errors(form.type) %}
                                                        <div class="row">
                                                            <div class="error_form">
                                                                <span>{{ form_errors(form.type) }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group form-custom form-custom-surf">
                                                <div>
                                                    {{ form_label(form.area, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                    <div class="col-sm-2">
                                                        {{ form_widget(form.area, {'attr': {'class': 'form-control'}}) }}
                                                        <span class="addon_input">m²</span>
                                                        {% if form_errors(form.area) %}
                                                            <div class="row">
                                                                <div class="error_form">
                                                                    <span>{{ form_errors(form.area) }}</span>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 custom_form_inline form_piece">
                                                    {{ form_label(form.room, null, {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                                                    <div class="col-sm-4">
                                                        {{ form_widget(form.room, {'attr': {'class': 'form-control'}}) }}
                                                        {% if form_errors(form.room) %}
                                                            <div class="row">
                                                                <div class="error_form">
                                                                    <span>{{ form_errors(form.room) }}</span>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group form-custom">
                                                {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                <div class="col-sm-8">
                                                    {{ form_widget(form.description, {'attr': {'class': 'form-control custom_area', 'rows' : '5'}}) }}
                                                    {% if form_errors(form.description) %}
                                                        <div class="row">
                                                            <div class="error_form">
                                                                <span>{{ form_errors(form.description) }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>


                                            <div class="form-group form-custom">
                                                <label class="col-sm-3 control-label">Photo:</label>
                                                <div id="photo_link" class="col-sm-8">
                                                    <button type="button" class="btn btn-primary add_tag_link" id="add_image">Ajouter une photo</button>
                                                </div>
                                            </div>

                                            <table id="no-more-tables" class="custom_table_width">
                                                <tr id="appartment_ressources" data-prototype="{{ include('appartment/form/file.html.twig', { 'form': form.ressources.vars.prototype, 'idx':'__name__' }) | e('html_attr') }}" >
                                                     {% for idx, ressource in form.ressources %}
                                                        <td id="td_{{ idx }}">
                                                            {{ include('appartment/form/file.html.twig', { 'form': ressource, 'idx': idx }) }}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            </table>
                                            <div class="form_obligatoire">Les champs contenant * sont obligatoire pour permettre une recherche plus facile de la part des visiteurs.</div>
                                        </div>

                                        <div class="separator_content"></div>

                                        <div class="gestion-head">
                                            <h3>Information complémentaire</h3>
                                        </div>
                                        <div class="gestion-body">
                                            <div class="form-group form-custom">
                                                <div>
                                                    {{ form_label(form.garage, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                    <div class="col-sm-2">
                                                        {{ form_widget(form.garage, {'attr': {'class': 'selectpicker'}}) }}
                                                        {% if form_errors(form.garage) %}
                                                            <div class="row">
                                                                <div class="error_form">
                                                                    <span>{{ form_errors(form.garage) }}</span>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 custom_form_inline form_casier">
                                                    {{ form_label(form.locker, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                    <div class="col-sm-4">
                                                        {{ form_widget(form.locker, {'attr': {'class': 'selectpicker'}}) }}
                                                        {% if form_errors(form.locker) %}
                                                            <div class="row">
                                                                <div class="error_form">
                                                                    <span>{{ form_errors(form.locker) }}</span>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group form-custom">
                                                {{ form_label(form.people, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                <div class="col-sm-2">
                                                    {{ form_widget(form.people, {'attr': {'class': 'form-control', 'placeholder': '4/6'}}) }}
                                                    {% if form_errors(form.people) %}
                                                        <div class="row">
                                                            <div class="error_form">
                                                                <span>{{ form_errors(form.people) }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group form-custom">
                                                {{ form_label(form.bedroom, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                <div class="col-sm-2">
                                                    {{ form_widget(form.bedroom, {'attr': {'class': 'form-control', 'placeholder': '1'}}) }}
                                                    {% if form_errors(form.bedroom) %}
                                                        <div class="row">
                                                            <div class="error_form">
                                                                <span>{{ form_errors(form.bedroom) }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group form-custom">
                                                {{ form_label(form.ski, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                <div class="col-sm-2">
                                                    {{ form_widget(form.ski, {'attr': {'class': 'form-control', 'placeholder': '200'}}) }}
                                                    {% if form_errors(form.ski) %}
                                                        <div class="row">
                                                            <div class="error_form">
                                                                <span>{{ form_errors(form.ski) }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <span class="addon_input">m</span>
                                                </div>
                                            </div>
                                            <div class="form-group form-custom">
                                                {{ form_label(form.information, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                                <div class="col-sm-8">
                                                    {{ form_widget(form.information, {'attr': {'class': 'form-control custom_area', 'rows' : '5', 'placeholder': 'Autre information'}}) }}
                                                    {% if form_errors(form.information) %}
                                                        <div class="row">
                                                            <div class="error_form">
                                                                <span>{{ form_errors(form.information) }}</span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>

                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-validate'}}) }}

                            {{ form_rest(form) }}
                            {{ form_end(form) }}

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/i18n/defaults-fr_FR.js"></script>
    <script type="text/javascript" src="{{ asset('build/ajout.js') }}"></script>
{% endblock %}

