{% extends 'shared/layout/base_with_image.html.twig' %}

{% block title %}Loc'Appart - {{ type }} d'une annonce{% endblock %}
{% block description %}Postez gratuitement votre annonce de location d’appartement, de chalet ou d’hôtel et rejoignez un réseau entre particulier !{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('build/ajout.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/bootstrap-select/css/bootstrap-select.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/bootstrap-datepicker/css/bootstrap-datepicker.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXTerqaOjZ_27sfAA2qOIaCrn3OLWJPBI"></script>
{% endblock %}

{% block content %}
    <article class="s-12 l-12 center">
        <h1>{{ type }} d'une annonce</h1>
        <p class="subtitile_presentation">Gerez votre annonce sur le site</p>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="lines">
            <div class="gestion-box">
                <aside class="lg-side">

                    <div class="gestion-head">
                        <h2>Information sur le bien</h2>
                    </div>

                    {{ include('appartment/elements/form/property.html.twig', { 'form': form }) }}

                    <div class="separator_content"></div>

                    <div class="gestion-head">
                        <h2>Information complémentaire</h2>
                    </div>

                    {{ include('appartment/elements/form/additional.html.twig', { 'form': form }) }}

                    <div class="separator_content"></div>

                    <div class="gestion-head">
                        <h2>Prix & Disponibilité</h2>
                    </div>

                    {{ include('appartment/elements/form/price.html.twig', { 'form': form }) }}

                    <div class="separator_content"></div>

                    <div class="gestion-head">
                        <h2>Localisation</h2>
                    </div>

                    {{ include('appartment/elements/form/localisation.html.twig', { 'form': form }) }}

                </aside>
            </div>
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-validate'}}) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}

    </article>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('ressources/bootstrap-select/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ressources/bootstrap-select/js/defaults-fr_FR.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ressources/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ressources/bootstrap-datepicker/js/bootstrap-datepicker.fr.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/ajout.js') }}"></script>
{% endblock %}

