{% extends 'shared/layout/base_with_image_only.html.twig' %}

{% block title %}Loc’Appart – Toutes les annonces de types {{ type }}{% endblock %}
{% block description %}Vous recherchez un {{ type }} pour cet hiver ? Découvrez toutes les offres de locations déposé par les particuliers et contactez directement le propriétaire.{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('build/listing.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/bootstrap-select/css/bootstrap-select.css') }}">
{% endblock %}

{% block content %}
    <div class="line">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="wvu-breadcrumbs">
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('home') }}" title="Accueil">
                    <span itemprop="name">Accueil</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('app_announcement_listing', {'type' : type}) }}" title="Les annonces">
                    <span itemprop="name">{{ type | capitalize }}</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>

    <div class="content_resultPage">
        <div class="line">
            <div class="margin">
                <section class="s-12 l-12 center search">
                    {{ include('appartment/elements/search.html.twig', {'form': form, 'type': type}) }}
                </section>
            </div>
        </div>
    </div>

    <div class="content_resultPageAppart">
        <div class="line custom_div">
            <div class="margin-bottom">
                <div class="margin">
                    <article class="s-12 l-12 center">
                        <h1>Résultat de la recherche</h1>
                        <p class="subtitile_presentation">{{ appartments.getTotalItemCount }} annonces correspondent à votre recherche</p>

                        {% for appartment in appartments %}
                            {{ include('appartment/elements/appartment.html.twig', {'appartment': appartment}) }}
                        {% endfor %}
                    </article>
                    <div class="pagination">
                        {{ knp_pagination_render(appartments) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('ressources/bootstrap-select/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ressources/bootstrap-select/js/defaults-fr_FR.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/listing.js') }}"></script>
{% endblock %}