{% extends 'shared/layout/base_with_image_only.html.twig' %}

{% block title %}Loc'Appart - {{ appartment.title | capitalize }}{% endblock %}
{% block description %}Vous recherchez un {{ appartment.type }} sur {{ appartment.city.name }} pour la prochaine saison d’hiver ? L’annonce {{appartment.title}} est à partir de {{ appartment.prices|price(appartment.prices) }} €.{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('build/fiche.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/bootstrap-select/css/bootstrap-select.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXTerqaOjZ_27sfAA2qOIaCrn3OLWJPBI"></script>
{% endblock %}

{% block content %}
    <div class="line">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="wvu-breadcrumbs">
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('home') }}" title="Accueil">
                    <span itemprop="name">Accueil</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('app_announcement_listing', {'type' : appartment.type.name}) }}" title="Les annonces">
                    <span itemprop="name">{{ appartment.type.name | capitalize }}</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('app_announcement_show', {'slug' : appartment.title | replace({' ': "_"}) | lower, 'id' : appartment.id}) }}" title="{{ appartment.title | capitalize }}">
                    <span itemprop="name">{{ appartment.title | capitalize }}</span></a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>
    </div>

    <div class="content_resultPage">
        <div class="line">
            <div class="margin">
                <section class="s-12 l-12 center search">
                    {{ include('appartment/elements/search.html.twig', {'form': form, 'type': appartment.type.name | lower}) }}
                </section>
            </div>
        </div>
    </div>

    <div class="content_fichePageAppart">
        <div class="line custom_div">
            <div class="margin">
                <article class="s-12 l-12 center margin_top">
                    <div class="s-12 l-12 main_content">
                        <div class="s-12 l-8 main_description">
                            {{ include('appartment/elements/show/main.html.twig', {'appartment': appartment}) }}
                        </div>
                        <div class="s-12 l-4 contact_right">
                            {{ include('appartment/elements/show/contact.html.twig', {'form': formContact}) }}
                        </div>
                        <div class="s-12 l-8 main_loca">
                            <div class="s-12 l-12 fiche_app_header localisation">
                                <h2 class="title_fiche title_main">Localisation</h2>
                            </div>
                            <div class="s-12 l-12 fiche_app_body">
                                <div class="map-container">
                                    <div id="map" data-lng="{{ appartment.lng }}" data-lat="{{ appartment.lat }}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="s-12 l-8 main_prix">
                            <div class="s-12 l-12 fiche_app_header price">
                                <h2 class="title_fiche title_main">Prix et Disponibilités</h2>
                            </div>
                            <div class="s-12 l-12 fiche_app_body prices">
                                <div id="carousel-example-generic-prx" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner price-inner" role="listbox">
                                        <div class="item">
                                            {{ include('appartment/elements/show/calendar.html.twig', {'time': "December 2021"|date("U"), 'appartment': appartment}) }}
                                            {{ include('appartment/elements/show/calendar.html.twig', {'time': "January 2022"|date("U"), 'appartment': appartment}) }}
                                        </div>
                                        <div class="item active">
                                            {{ include('appartment/elements/show/calendar.html.twig', {'time': "February 2022"|date("U"), 'appartment': appartment}) }}
                                            {{ include('appartment/elements/show/calendar.html.twig', {'time': "March 2022"|date("U"), 'appartment': appartment}) }}
                                        </div>
                                        <div class="item">
                                            {{ include('appartment/elements/show/calendar.html.twig', {'time': "April 2022"|date("U"), 'appartment': appartment}) }}
                                            {{ include('appartment/elements/show/calendar.html.twig', {'time': "May 2022"|date("U"), 'appartment': appartment}) }}
                                        </div>
                                        <div class="item">
                                            {{ include('appartment/elements/show/calendar.html.twig', {'time': "July 2022"|date("U"), 'appartment': appartment}) }}
                                            {{ include('appartment/elements/show/calendar.html.twig', {'time': "August 2022"|date("U"), 'appartment': appartment}) }}
                                        </div>
                                        <ol class="carousel-indicators carousel-indicators-custom">
                                            <li data-target="#carousel-example-generic-prx" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic-prx" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic-prx" data-slide-to="2"></li>
                                            <li data-target="#carousel-example-generic-prx" data-slide-to="3"></li>
                                        </ol>
                                    </div>
                                    <ul class="legende">
                                        <li><span class="legende-label legende-label-reserve">Non disponible</span></li>
                                        <li><span class="legende-label legende-label-dispo">Disponible</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('ressources/bootstrap-select/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ressources/bootstrap-select/js/defaults-fr_FR.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/fiche.js') }}"></script>
{% endblock %}
