<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~  asset('build/generic.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost() ~  asset('build/app.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost() ~  asset('build/email.css') }}">
</head>
<body>
<section>
    <div>
        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/images/Shared/background2.jpg') }}"/>
        <div class="carousel-text">
            <div class="line">
                <div class="header">
                    <h2>Location d'Appartement en France</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content_login">
        <div class="line">
            <div class="margin-bottom">
                <div class="margin">
                    <article class="s-12 l-8 center">
                        <h2>Inscription au site !</h2>
                        <p class="subtitile_presentation">Louer facilement votre appartement sur le site.</p>
                        <p class="margin-bottom-home">Bienvenue sur le site {{ user.firstname }} {{ user.lastname }} ! Vous pouvez dès à présent vous connecter et ajouter des annonces de locations d'appartment via votre compte accesible en cliquant <a href={{ app.request.getSchemeAndHttpHost() ~ path('app_login') }}>ici</a></a>.</p>
                        <p class="margin-bottom-home">Une multitude d'annonces vous attende sur le site, N'hesitez surtout pas à les consulter !</p>
                        <button type="submit" class="btn btn-primary btn_result">Voir les annonces</button>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer_lines">
        <div class="line">
            <div class="footer">
                <p>Copyright 2017, Florent Damiens - LocationAppartment
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
