<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~  asset('build/generic.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost() ~  asset('build/app.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost() ~  asset('build/email.css') }}">
</head>
<body>
<section>
    <div>
        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/images/Shared/background2.jpg') }}"/>
        <div class="carousel-text">
            <div class="line">
                <div class="header">
                    <h2>Location d'Appartement en France</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content_login">
        <div class="line">
            <div class="margin-bottom">
                <div class="margin">
                    <article class="s-12 l-8 center">
                        <h2>Mot de passe oublié !</h2>
                        <p class="subtitile_presentation">Procédure de changement de mot de passe.</p>
                        <p class="margin-bottom-home">Pour changer votre mot de passe veuillez suivre la procèdure suivante en cliquant sur le liens suivant:</p>
                        <a href={{ data }}><button type="submit" class="btn btn-primary btn_result">Changer le mot de passe</button></a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer_lines">
        <div class="line">
            <div class="footer">
                <p>Copyright 2019, Florent Damiens - LocationAppartment</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
