<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="robots" content="index, follow, all">
    <link rel="canonical" href="{{ app.request.uri }}">

    <link rel="icon" type="image/png" href="{{ asset('/ressources/images/static/favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('ressources/css/template/components.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/css/template/design-style.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/css/template/responsee.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/css/carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/font-awesome/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'>
    <link rel="stylesheet" href="{{ asset('ressources/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    {% block style %}{% endblock %}
</head>
<body class="size-1140">
<header>
    {% include('shared/elements/nav.html.twig') %}
</header>

<section>
    {% include('shared/elements/background.html.twig') %}
    <div class="content_login">
        <div class="line">
            <div class="margin-bottom">
                <div class="margin">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    {% include('shared/elements/footer.html.twig') %}
</footer>

<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('ressources/js/template/responsee.js') }}"></script>
<script type="text/javascript" src="{{ asset('ressources/js/carousel/owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('ressources/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('ressources/js/dataTables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('ressources/js/dataTables/dataTables.bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
