<div class="s-12 l-12 fiche_app_header contact">
    <h2 class="title_fiche title_localisation">Contacter le propriétaire</h2>
</div>
<div class="s-12 l-12 fiche_app_body contact_body">

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
    <span class="add-on input-group-addon span_form"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
    {% if form_errors(form.email) %}
        <div class="row">
            <div class="error_form">
                <span>{{ form_errors(form.email) }}</span>
            </div>
        </div>
    {% endif %}

    {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'placeholder': 'Objet'}}) }}
    <span class="add-on input-group-addon span_form"><i class="fa fa-comment-o" aria-hidden="true"></i></span>
    {% if form_errors(form.subject) %}
        <div class="row">
            <div class="error_form">
                <span>{{ form_errors(form.subject) }}</span>
            </div>
        </div>
    {% endif %}

    {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
    <span class="add-on input-group-addon span_form"><i class="fa fa-phone" aria-hidden="true"></i></span>
    {% if form_errors(form.phone) %}
        <div class="row">
            <div class="error_form">
                <span>{{ form_errors(form.phone) }}</span>
            </div>
        </div>
    {% endif %}

    {{ form_widget(form.text, {'attr': {'class': 'form-control custom_area', 'placeholder': 'Message', 'rows': '3'}}) }}
    {% if form_errors(form.text) %}
        <div class="row">
            <div class="error_form">
                <span>{{ form_errors(form.text) }}</span>
            </div>
        </div>
    {% endif %}

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn_result'}}) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
