<div class="table-responsive">
    {{ form_start(form, {'action': path('app_announcement_listing', {'type': type}), 'method': 'POST'}) }}
    <table id="no-more-tables" class="table table_nth first_table">
        <tr>
            <td>
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
            </td>
            <td>
                {{ form_widget(form.department, {'attr': {'class': 'selectpicker department', 'placeholder': 'Département', 'data-live-search': 'true'}}) }}
            </td>
            <td>
                {{ form_widget(form.city, {'attr': {'class': 'selectpicker city', 'placeholder': 'Ville', 'data-live-search': 'true'}}) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_widget(form.maxPrice, {'attr': {'class': 'form-control', 'placeholder': 'Prix maximum (€)'}}) }}
            </td>
            <td>
                {{ form_widget(form.garage, {'attr': {'class': 'selectpicker garage', 'placeholder': 'Garage'}}) }}
            </td>
            <td>
                {{ form_widget(form.locker, {'attr': {'class': 'selectpicker locker', 'placeholder': 'Casier'}}) }}
            </td>

            <td>
                <button class="btn btn-primary btn-result">Rechercher</button>
            </td>
        </tr>
    </table>
    {{ form_end(form) }}
</div>