<div class="cst">
    <div id="box_{{ idx }}" class="box">
        <p>Photo {{ idx }}</p>
        {{ form_widget(form.file, {'attr': {'class': 'inputfile inputfile-4'}}) }}
        <label for="appartment_ressources_{{ idx }}_file">
            <span class="fa-stack fa-lg">
              <i class="fa fa-camera fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-plus-circle fa-stack-1x" aria-hidden="true"></i>
            </span>
        </label>
    </div>
    <div class="box_img">
        <img id="img_{{ idx }}" style="display: none;" class="img_file" src="#"/>
        <a id="{{ idx }}"><i id="circle_{{ idx }}" style="display: none;" class="fa fa-times-circle"></i></a>
    </div>
</div>
{% if form_errors(form.file) %}
    <div class="row" style="position:absolute;">
        <div class="error_form">
            <span>{{ form_errors(form.file) }}</span>
        </div>
    </div>
{% endif %}
