{% extends 'base.html.twig' %}

{% block title %}Loc'Appart - Mon compte{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('build/parametre.css') }}">
{% endblock %}

{% block content %}
    <section>
        {% include('Shared/elements/background.html.twig') %}
        <div class="content_login">
            <div class="line">
                <div class="margin-bottom">
                    <div class="margin">
                        <article class="s-12 l-8 center">
                            <h2>Paramètre du compte</h2>
                            <p class="subtitile_presentation">Modifier l'ensemble des paramètres de votre compte</p>
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-info" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <div class="s-12 l-12 parameter_first">
                                <h2 class="title_parameter">Information personnel</h2>
                                {{ form_start(formUpdate, {'attr': {'class': 'form-horizontal'}}) }}
                                {{ form_errors(formUpdate) }}

                                <div class="form-group form-custom">
                                    {{ form_label(formUpdate.email, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(formUpdate.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                                        {% if form_errors(formUpdate.email) %}
                                            <div class="row">
                                                <div class="error_form">
                                                    <span>{{ form_errors(formUpdate.email) }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group form-custom">
                                    {{ form_label(formUpdate.firstname, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(formUpdate.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                                        {% if form_errors(formUpdate.firstname) %}
                                            <div class="row">
                                                <div class="error_form">
                                                    <span>{{ form_errors(formUpdate.firstname) }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group form-custom">
                                    {{ form_label(formUpdate.lastname, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(formUpdate.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                                        {% if form_errors(formUpdate.lastname) %}
                                            <div class="row">
                                                <div class="error_form">
                                                    <span>{{ form_errors(formUpdate.lastname) }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group form-custom">
                                    {{ form_label(formUpdate.gender, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        <div class="radio-gender">
                                            {{ form_widget(formUpdate.gender, {'attr': {'class': ''}}) }}
                                            {% if form_errors(formUpdate.gender) %}
                                                <div class="row">
                                                    <div class="error_form">
                                                        <span>{{ form_errors(formUpdate.gender) }}</span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="title_parameter_third">
                                    <h2 class="title_parameter">Notification d'email</h2>


                                    <div class="form-group form-custom">
                                        <div class="checkbox">
                                            <label class="custom_label">
                                                {{ form_widget(formUpdate.notification, {'attr': {'class': ''}}) }}
                                                {% if form_errors(formUpdate.notification) %}
                                                    <div class="row">
                                                        <div class="error_form">
                                                            <span>{{ form_errors(formUpdate.notification) }}</span>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                Activer les notifications d'email pour être prévenu lorsque vous avez un message
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                {{ form_widget(formUpdate.save, {'attr': {'class': 'btn btn-primary'}}) }}

                                {{ form_rest(formUpdate) }}
                                {{ form_end(formUpdate) }}
                            </div>
                            <div class="s-12 l-12 title_parameter_second">
                                <h2 class="title_parameter">Sécurité</h2>
                                {{ form_start(formPswd, {'attr': {'class': 'form-horizontal'}}) }}
                                {{ form_errors(formPswd) }}

                                <div class="form-group form-custom">
                                    {{ form_label(formPswd.password.first, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(formPswd.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                                        <span id="eye" tabindex="100" class="add-on input-group-addon span_paswd" ><i class="fa fa-eye"></i></span>
                                        {% if form_errors(formPswd.password.first) %}
                                            <div class="row">
                                                <div class="error_form">
                                                    <span>{{ form_errors(formPswd.password.first) }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <ul class="verification_mdp_inscription">
                                            <li>Pour votre sécurité, utilisez un mot de passe contenant :</li>
                                            <li>• Minimun 6 caractères</li>
                                            <li>•  Et des caractères spéciaux parmi =/+|.-_~^@!#$%?*€,;:)</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group form-custom">
                                    {{ form_label(formPswd.password.second, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(formPswd.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                                        <span id="eyeBox2" tabindex="100" class="add-on input-group-addon span_paswd" ><i class="fa fa-eye"></i></span>
                                        {% if form_errors(formPswd.password.second) %}
                                            <div class="row">
                                                <div class="error_form">
                                                    <span>{{ form_errors(formPswd.password.second) }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                {{ form_widget(formPswd.save, {'attr': {'class': 'btn btn-primary'}}) }}

                                {{ form_rest(formPswd) }}
                                {{ form_end(formPswd) }}
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('build/parametre.js') }}"></script>
{% endblock %}

